.wy-side-nav-search {
  background: #fcfcfc;
}

.wy-side-nav-search a:hover {
  background: #ffffff00;
}

.wy-side-nav-search a {
    display: block;
}

.wy-side-nav-search div.version {
  color: #2980b9;
}

.wy-nav-content {
  min-height: 100vh;
  max-width: 1000px;
  background: #ffffff;
}

@media screen and (min-width: 1400px) {
.wy-nav-content-wrap {
  background: #ffffff;
}

a {
  color: #2980b9;
}

a:visited {
  color: #2e90d1;
}

a:hover {
  color: #58a6da;
}

.wy-menu a, .wy-menu a:hover, .wy-menu a:visited {
    color: #b3b3b3;
}

/* Force properties to be blocks */
html.writer-html5 .rst-content dl.py.class dl.py.property {
    display: block !important;
    padding: 0;
}

}

/* override table width restrictions */
@media screen and (min-width: 767px) {
   .wy-table-responsive table td {
      white-space: normal !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}